.grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
   gap: 1.8rem;
}

.grid a {
   text-decoration: none;
}

.grid a:visited {
   color: inherit;
}

.loading-container {
   display: flex;
   flex-grow: 1;
   align-items: center;
   justify-content: center;
}