.card {
   padding: 1.5rem 1.5rem;
   overflow: visible;
   position: relative;
   z-index: 1;
   grid-column: 1/3;
   height: 250px;
}

.card h2 {
   font-weight: 500;
}

.form {
   padding: 0 1.5rem;
   overflow: visible;
   position: relative;
   z-index: 1;
   grid-column: 1/3;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   grid-column: 1/3;
}

.form .header {
   text-align: center;
}

.date-pickers {
   display: grid;
   grid-template-columns: 1fr min-content 1fr;
   border: 1px solid #777;
   border-radius: 0.5rem;
}

.date-pickers.active {
   background-color: #F1F3F5;
}


.input-container {
   display: flex;
   flex-direction: column;
   padding: 10px;
   cursor: pointer;
   position: relative;
}

.input-container:nth-child(1) {
   border-radius: 0.5rem 0 0 0.5rem;
}

.input-container:nth-child(3) {
   border-radius: 0 0.5rem 0.5rem 0;
}

.input-container.active {
   background-color: #fff;
}

.input-container label {
   font-size: 0.7rem;
   font-weight: 600;
   text-transform: uppercase;
   padding-bottom: 2px;
   cursor: pointer;
}

.input-container input {
   outline: none;
   border: none;
   width: 100%;
   font-size: 1rem;
   cursor: pointer;
   background: none;
   pointer-events: none;
}

.input-container input.invalid {
   color: #ff0000;
}

.clear-button {
   position: absolute;
   background: none;
   display: flex;
   align-items: center;
   justify-content: center;
   right: 1rem;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
   display: none;
   outline: none;
   border: none;
   color: #777;
}

.input-container.active .clear-button {
   display: block;
}

.input-container.active .clear-button:hover {
   color: #000;
}

.seperator {
   height: 100%;
   width: 1px;
   background-color: #777;
   z-index: 1;
}

.button-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 1rem;
}

.cancel-button {
   font-size: 1rem;
   outline: 2px solid #F31260;
}

.cancel-button:hover {
   background-color: #fff;
   color: #F31260
}

.button {
   outline: 2px solid #0072f5;
   font-size: 1rem;
}

.button:hover {
   background-color: #fff;
   color: #0072f5;
}

.button.invalid {
   opacity: 0.5;
   pointer-events: none;
}

.no-click {
   pointer-events: none;
}