.list-container {
   max-width: 950px;
   width: 100%;
   margin: 0 auto;
   margin-top: 3.5rem;
}

.header {
   text-align: center;
}

.reservations-list {
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}