.form {
   height: max-content;
}

.body {
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.body.sign-up {
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 30px;
}

.signup-text {
   cursor: pointer;
   font-size: 14px;
   color: #0072F5;
}

.signup-text:hover {
   text-decoration: underline;
}